@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,600;1,100&family=Sora:wght@100;200;300;400;500;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-menu *{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.header-menu .ant-menu-item{
  padding:10px 50px;
}

.ant-menu-title::after{
  display: none!important;
}

.ant-menu-horizontal{
  border: none!important;
}

.fontFamily1 {
  font-family: 'Inter', sans-serif;

}
.fontFamily2 {
  font-family: 'Sora', sans-serif!important;
}

.textCenter {
  text-align: center!important;
}

.blogTabs .ant-tabs-nav-list{
  padding: 5px 10px;
  border: 1px solid #dadada;
  border-radius: 15px;
}

.blogTabs .ant-tabs-tab{
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 12px;
}

.blogTabs .ant-tabs-tab-active{
 background-color: #1C2854;
 color:white!important;
}

.blogTabs .ant-tabs-tab-active .ant-tabs-tab-btn{

  color:white!important;
 }


 .centered-svg {
  transition: transform 1s ease;
  transform-origin: center;
}
.centered-svg2 {
  transition: transform 1s ease;
  transform-origin: top right;
}
 
.centered-svg.animate {
  transform: scale(20) rotate(90deg);
} 
.centered-svg2.animate {
  transform: scale(20) translate(-5%, -20%) rotate(-90deg);
}


.arrowButton{
  width: 70px;
  height:70px;
  border-radius: 100px;
  margin:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}


.arrowButton2{
  width: 70px;
  height:70px;
  border-radius: 100px;
  margin:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: white;
  border:1px solid black;
  cursor: pointer;
}

.arrowButton2:hover{
  transform: scale(1.1);
}
.arrowButton:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
