body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-menu-mobile .ant-menu-item-selected{
  background-color: transparent!important;
  color:#c9ebf9!important;
}


@media only screen and (max-width: 600px) {
 
  .hide-on-phone{
    display: none!important;
  }
  .display-on-phone{
    display: flex!important;
  }
  }
  
  